 <!-- Banner -->
        <section id="banner" class="major">
          <div class="inner">
            <header class="major">
              <h1>Kriyawantika Solutions</h1>
            </header>
            <div class="content">
              <p>We provide Enterprise level software development and support services</p>
              <ul class="actions">
                <li><a href="#one" class="button next scrolly">Let's Explore</a></li>
              </ul>
            </div>
          </div>
        </section>

      <!-- Main -->
        <div id="main">

          <!-- One -->
            <section id="one" class="tiles">
              <article>
                <span class="image">
                  <img src="assets/images/webapp.png" alt="" />
                </span>
                <header class="major">
                  <h3><a href="/domain" class="link">Web Application Development</a></h3>
                  <p>UI Design, UX and Web Development with latest tools and technology</p>
                </header>
              </article>
              <article>
                <span class="image">
                  <img src="assets/images/mobileapp.png" alt="" />
                </span>
                <header class="major">
                  <h3><a href="/domain" class="link">Mobile Application Development</a></h3>
                  <p>Cross platform, reliable and performant application development</p>
                </header>
              </article>
              <article>
                <span class="image">
                  <img src="assets/images/desktopapp.png" alt="" />
                </span>
                <header class="major">
                  <h3><a href="/domain" class="link">Desktop Application Development</a></h3>
                  <p>Efficient, Fast, Reliable and Crossplatform</p>
                </header>
              </article>
              <article>
                <span class="image">
                  <img src="assets/images/cloudapp.png" alt="" />
                </span>
                <header class="major">
                  <h3><a href="/domain" class="link">Cloud Services</a></h3>
                  <p>Cloud Hosting, Cloud Migration, Analytics and a lot more</p>
                </header>
              </article>
              <article>
                <span class="image">
                  <img src="assets/images/consulting.png" alt="" />
                </span>
                <header class="major">
                  <h3><a href="/domain" class="link">Consulting</a></h3>
                  <p>Effective, Realistic and Optimum software consultancy</p>
                </header>
              </article>
              <article>
                <span class="image">
                  <img src="assets/images/iot.png" alt="" />
                </span>
                <header class="major">
                  <h3><a href="/domain" class="link">IOT Integration</a></h3>
                  <p>IOT Software solutions, Edge computing, Analytics and a lot more</p>
                </header>
              </article>
              <article>
                <span class="image">
                  <img src="assets/images/automation.png" alt="" />
                </span>
                <header class="major">
                  <h3><a href="/domain" class="link">Process Automation</a></h3>
                  <p>Process Analysis, Optimization, DevOps and Automation services</p>
                </header>
              </article>
              <article>
                <span class="image">
                  <img src="assets/images/qa.png" alt="" />
                </span>
                <header class="major">
                  <h3><a href="/domain" class="link">Quality Assurance</a></h3>
                  <p>Software testing, Quality Analysis, Improvement Planning and lot more</p>
                </header>
              </article>
            </section>

          <!-- Two -->
            <section id="two">
              <div class="inner">
                <header class="major">
                  <h2>Massa libero</h2>
                </header>
                <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
                <ul class="actions">
                  <li><a href="/domain" class="button next">Get Started</a></li>
                </ul>
              </div>
            </section>

        </div>

      <!-- Contact -->
        <section id="contact">
          <div class="inner">
            <section>
              <form method="post" action="#">
                <div class="fields">
                  <div class="field half">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                  </div>
                  <div class="field half">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                  </div>
                  <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6"></textarea>
                  </div>
                </div>
                <ul class="actions">
                  <li><input type="submit" value="Send Message" class="primary" /></li>
                  <li><input type="reset" value="Clear" /></li>
                </ul>
              </form>
            </section>
            <section class="split">
              <section>
                <div class="contact-method">
                  <span class="icon solid alt fa-envelope"></span>
                  <h3>Email</h3>
                  <a href="#">information@untitled.tld</a>
                </div>
              </section>
              <section>
                <div class="contact-method">
                  <span class="icon solid alt fa-phone"></span>
                  <h3>Phone</h3>
                  <span>(000) 000-0000 x12387</span>
                </div>
              </section>
              <section>
                <div class="contact-method">
                  <span class="icon solid alt fa-home"></span>
                  <h3>Address</h3>
                  <span>1234 Somewhere Road #5432<br />
                  Nashville, TN 00000<br />
                  United States of America</span>
                </div>
              </section>
            </section>
          </div>
        </section>
