 <!-- Banner -->
        <section id="banner" class="major">
          <div class="inner">
            <header class="major">
              <h1>{{ bannerData.companyName }}</h1>
            </header>
            <div class="content">
              <p>{{ bannerData.tagLine }}</p>
              <ul class="actions">
                <li><a href="#one" class="button next scrolly">Let's Explore</a></li>
              </ul>
            </div>
          </div>
        </section>

      <!-- Main -->
        <div id="main">

          <!-- One -->
            <section id="one" class="tiles">
              <ng-container *ngFor="let domain of domainData">
                <article>
                  <span class="image">
                    <img src="{{domain.imageUrl}}" alt="" />
                  </span>
                  <header class="major">
                    <h3><a href="/services/{{domain.name}}" class="link">{{domain.heading}}</a></h3>
                    <p>{{domain.description}}</p>
                  </header>
                </article>
              </ng-container>
            </section>
        </div>
